.slider-panel {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff00;
  min-width: 100px;

}

.position-display {
  align-self: flex-start;
  margin-left: 1rem;
}

.zone-legend-display {
  align-self: flex-start;
  margin-right: 1rem;
}