:host {
  display: block;
  width: 100%;
  height: 100%;
  font-family: system-ui, -apple-system, sans-serif;
}

.slider-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.vertical-container {
  flex-direction: column;
  justify-content: center;
}

.horizontal-container {
  flex-direction: row;
}

.slider-pill {
  font-size: 14px;
  font-weight: 500;
  padding: 6px 12px;
  border-radius: 16px;
}

input[type="range"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type="range"].horizontal {
  width: 100%;
}

input[type="range"].vertical {
  writing-mode: vertical-lr;
  height: 100%;
  transform: rotate(180deg);
}

input[type="range"]:focus {
  outline: none;
}

/* Webkit Track */
input[type="range"]::-webkit-slider-runnable-track {
  background: var(--track-color);
  border-radius: calc(var(--track-size) / 2);
}

input[type="range"].horizontal::-webkit-slider-runnable-track {
  height: var(--track-size);
}

input[type="range"].vertical::-webkit-slider-runnable-track {
  width: var(--track-size);
  height: 100%;
}

/* Webkit Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: 50%;
}

input[type="range"].horizontal::-webkit-slider-thumb {
  margin-top: var(--thumb-offset);
}

input[type="range"].vertical::-webkit-slider-thumb {
  margin-left: var(--thumb-offset);
}

/* Firefox Track */
input[type="range"]::-moz-range-track {
  background: var(--track-color);
  border-radius: calc(var(--track-size) / 2);
  border: none;
}

input[type="range"].horizontal::-moz-range-track {
  height: var(--track-size);
}

input[type="range"].vertical::-moz-range-track {
  width: var(--track-size);
}

/* Firefox Thumb */
input[type="range"]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border: none;
  border-radius: 50%;
}