<div class="position-container">
    <div class="title-pill" [style.color]="color" [style.background]="pillBackground">Position</div>

    @if (environment?.rover?.x !== undefined) {
        <div class="coordinates">
            <div>x: {{ environment?.rover?.x | number:'1.0-2' }}</div>
            <div>y: {{ environment?.rover?.y | number:'1.0-2' }}</div>
        </div>
    } @else {
        <div class="coordinates">
            <div>x: —</div>
            <div>y: —</div>
        </div>
    }
</div>